image:  nexus.citeck.ru/ecos-maven-nonroot:1.0.0

stages:
  - test

test:
  tags:
    - docker-com
  stage: test
  rules:
    - if: ($CI_PIPELINE_SOURCE == 'merge_request_event')
  variables:
    MAVEN_CLI_OPTS: "--batch-mode"
    MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  cache:
    paths:
      - .m2/repository/
      - target/
  script:
    - sudo chown -R maven:maven /builds
    - mvn $MAVEN_CLI_OPTS test
